@font-face {
  font-family:"TT Lakes";
  font-style:normal;
  font-weight:400;
  src:local("TT Lakes"),  url("/fonts/TTLakes-Bold.woff");
}
body {
  margin:0;
  font-family: 'TT Lakes';
}
.background-menu {
  /* box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2); */
  height: 1024px;
  width: 306px;
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
}
.up-menu {
  display: flex;
  justify-content: flex-start;
  width: 320px;
  align-items: center;
}
.x {
  margin-left: 24px;
}
.logo {
  margin-left:22px;
  padding-top: 0px;
}
.search {
  margin-right: 24px;
  margin-left: 118px;
}
.up-menu-container {
  padding-top: 30px;
}
.main-nav__list-item, a {
  text-decoration: none;
  list-style: none;
  color:black;
  margin-bottom: 28px;
  letter-spacing: -0.2px;
}
.main-nav__list-item {
  padding-left:24px;
}
.main-nav__list {
  padding-left:0;
  padding-top: 45px;
  font-weight: 500;
  font-size: 16px;
  margin:0;
}
.lang {
  display:flex;
  margin-top:39px;
}
.footer {
  margin-top:138px;
  padding-left: 24px;
}
.menu-icons__container {
  column-gap: 16px;
  padding-bottom: 16px;
  display:flex;
}
.contacts {
  padding-bottom: 16px;
}
.contacts-mail {
  padding-bottom: 12px;
  font-weight: 500;
}
.contacts-tel {
  font-weight: 700;
}
.lang {
  display: flex;
  column-gap: 7px;
  font-weight: 500;
}
.lang-ru {
  color: #7E7E82;
}
.lang-en:hover {
  color: #7E7E82;
}
.lang-ch:hover {
  color: #7E7E82;
}
.main-nav__list-item:hover,:focus  a {
  color:rgb(104, 103, 103); 
  border-left:4px solid #41F6D7;
}
.icon:active {
  transform: scale(1.2)  rotate(-5deg);
  transition:transform 0.1s;   
}
.activeIcon {
  border-left:4px solid #41F6D7;
  color:rgb(104, 103, 103); 
}
.search_modal {
  margin-right: 24px;
  margin-left: 78px;
}
@media only screen and (max-width:320px) {
  .footer {
    margin-top: 32px;
    padding-left: 16px;
  }
  .main-nav__list-item {
    padding-left:16px;
  }
  .x {
    margin-left: 16px;
  }
  .search_modal {
    margin-right: 16px;
    margin-left: 94px;
  }
  .up-menu-container__modal {
    padding-top: 16px;
  }
}
@media only screen and (min-width:321px) and (max-width:360px) {
  .footer {
    margin-top: 32px;
  }
  .search_modal {
    margin-right: 24px;
    margin-left: 111px;
  }
}
